
body {
    height: 100px;
    background-color: #222222;
    display: flex;
}
nav.navbar {
    background-color: #1a1a1a;
    color: #e8a901;
    font-family: verdana;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #e8a901;
    height: 98.5%; 
    position: fixed;
}
header.navbar {
    width: 300px;
    height: 100px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #e8a901;
}
a.nav-link {
    width: 300px;
    padding: 1em 0 1em 0;
    color: #e8a901;
    border: 1px solid #e8a901;
    font-size: 25px;
}
a.nav-link.odd {
    background-color: #404040;
}
a.nav-link.even {
    background-color: #222222;
}
.main-section {
    font-family: tahoma, arial, helvetica;
}
section.main-section {
    margin: 4em;
    margin-left: 25em;
}
header.main-section {
    font-style: bold;
    font-size: 2.25em;
    color: #e8a901;
}
p.main-section {
    font-size: 1.35em;
    color: #e8a901;
    line-height: 1.25em;
    text-shadow: 2px 2px 3px rgb(36, 30, 20);
}