body {
    background-image: url(https://cdn.unifiedcommerce.com/content/product/large/705988119446-L.jpg);
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Yusei Magic";
}
p {
    margin: 0px;
}
h1 {
    margin: 0;
    margin-top: 0.25em;
}
h2 {
    margin: 0px;
    height: auto;
}
h3 {
    margin: 0px;
}
div {
    padding-top: 5px;
    margin: 0px;
}
button {
    height: 50px;
    width: 150px;
    align-self: center;
    border-radius: .5em;
    margin-bottom: .5em;
    background-color: pink;
    font-size: 18;
    font-weight: bold;
}
form {
    margin-bottom: 0;
}
.body {
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    padding-left: 2%;
}
.header {
    background-color: #00ffff99;
    width: 45%;
    height: 10%;
    align-self: center;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    }
.main {
    background-color: #00ffff99;
    width: 45%;
    align-self: center;
    margin-bottom: 0px;
}
.footer {
    text-align: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #00ffff99;
    width: 45%;
    height: auto;
    align-self: center;
    padding-bottom: 1em;
}
.input {
    margin: 1%;
    border-color: white;
    border-radius: .5em;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 2em;
}
#description {
    margin-top: 3px;
}
#contact-info {
    padding-left: 2%;
    padding-right: 2%;
}
.option {
    margin-left: 1em;
}
#followup-input {
    height: 25%;
    resize: none;
}
#sub-res {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}