
body {
    height: 100px;
    background-color: #222222;
    display: flex;
}
nav.navbar {
    background-color: #1a1a1a;
    color: #e8a901;
    font-family: verdana;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #e8a901;
    height: 98.5%; 
    position: fixed;
}
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        background-color: pink;
        /*I've spent too much time on this, and need to move on
        otherwise, I'd make the screen resizing work better*/
    }
    nav.navbar {
        width: 80%;
        height: 300px;
        overflow: scroll;
        position: relative;
    }
}
header.navbar {
    width: 300px;
    height: 100px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #e8a901;
}
a.nav-link {
    width: 300px;
    padding: 1em 0 1em 0;
    color: #e8a901;
    border: 1px solid #e8a901;
    font-size: 25px;
}
a.nav-link.odd {
    background-color: #404040;
}
a.nav-link.even {
    background-color: #222222;
}
.main-section {
    font-family: tahoma, arial, helvetica;
    color: #e8a901;
    text-shadow: 2px 2px 3px rgb(36, 30, 20);
}
section.main-section {
    margin: 4em;
    margin-left: 25em;
}
.main-header {
    font-style: bold;
    font-size: 2.25em;
}
p.main, li.main{
    font-size: 1.35em;
    line-height: 1.25em;
    list-style-type: disc;
}
code.main {
    background-color: #1a1a1a;
    border-radius: .25em;
}