html {
    background-color:darkgray;
    font-family: 'Kanit', sans-serif;
}
header {
    background-color: gray;
    color: white;
    display: flex;
    justify-self: center;
    height: 6em;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
img.header {
    width: auto;
    height: 75px;
}
nav {
    margin-left: 3%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a.nav-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    text-align: center;
}
.product-images{
    width: 75px;
    height: auto;
}
.pitch-img{
    width: 75px;
    height: auto;
    max-height: 130px;
    align-items: center;
    justify-content:center;
    align-self: center;
}
main {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#features {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
#feature-title {
    font-size: 3em;
    margin: 0 auto;
}
.feature-container {
    display: flex;
    width: 90%;
    margin-bottom: 2em;
}
.desc {
    display: block;
    margin: 0;
    margin-left: 3%;
    align-items: center;
    justify-self: center;
}
h3.desc {
    font-size: 1.75em;
}
p.desc {
    font-size: 1.25em;
}
div.desc {
    width: 95%;
}
#magic-img {
    height: 100px;
    align-self: center;
}
p.magic {
    font-size: 1.05em;
}
#video {
    align-self: center;
    width: 800px;
    margin: 3em;
}
#ninja-stars {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 10%;
}
div.ninja-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 24em;
    margin: 0 auto;
    border: 1px solid;
}
button {
    color: #CC5500;
    background-color: black;
    height: 3em;
    width: 35%;
    border: 0;
    border-radius: .25em;
    margin-bottom: 2em;
}
div.signup {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: center;
}
h2.signup, p.signup {
    margin-top: .75em;
    margin-bottom: 0;
}
form.signup {
    margin-top: 1em;
}
input.signup {
    width: 20em;
    height: 2em;
    margin-top: .75em;
    color: #CC5500;
    background-color: black;
}
#submit {
    width: 12em;
    height: 2em;
    border-radius: .25em;
    box-shadow: 0;
}