html {
    background-color:darkgray;
    font-family: 'Kanit', sans-serif;
}
header {
    background-color: rgba(128, 128, 128, 0.432);
    color: white;
    display: flex;
    justify-self: center;
    height: 6em;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.274);
}
img.header {
    width: auto;
    height: 75px;
}
nav {
    margin-left: 3%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a.nav-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(41, 16, 0);
}
.pitch-img{
    width: 75px;
    height: auto;
    min-height: 90px;
    max-height: 130px;
    align-items: center;
    justify-content:center;
    align-self: center;
    filter: drop-shadow(5px 2px 4px  rgb(36, 30, 20));
}
main {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#features {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
#feature-title {
    font-size: 3em;
    margin: 0 auto;
    text-shadow: 2px 2px 3px rgb(36, 30, 20);
}
.feature-container {
    display: flex;
    width: 90%;
    margin-bottom: 2em;
    align-items: center;
}
.desc {
    display: block;
    margin: 0;
    margin-left: 6.5%;
    align-items: center;
    justify-self: center;
}
h3.desc {
    font-size: 1.75em;
    margin-bottom: .75em;
    text-shadow: 1px 1px 3px rgb(36, 30, 20);
}
p.desc {
    font-size: 1.25em;
}
div.desc {
    width: 70%;
}
#magic-img {
    width: 75px;
    height: 90px;
    align-self: center;
}
p.magic {
    font-size: 1.05em;
}
#video-div {
    align-self: center;
    width: 800px;
    margin: 5em 3em;
}
@media screen and (min-width: 480px) {
    #video-div{
        width: 500px;
    }
}
#ninja-stars {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 4em 10%;
}
.product-images{
    width: 75px;
    height: 75px;
    margin-top: 1em;
}
div.ninja-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 24em;
    margin: 0 auto;
    border: 1px solid;
}
p.ninja-stars {
    padding: 0 1em;
}
h2.ninja-stars{
    background-color: #CC550090;
    margin: 0;
    padding: .5em 0;
}
button {
    color: black;
    background-color: #CC5500;
    height: 3em;
    width: 35%;
    border: 2px solid black;
    border-radius: .25em;
    margin-bottom: 2em;
}
button.unavailable {
    background-color :black;
    color: #CC5500;
}
div.signup {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: center;
    background-color:  #CC550099;
    width: 70%;
    align-self: center;
    padding: 2em;
    border-radius: .25em;
}
h2.signup, p.signup {
    margin-top: .75em;
    margin-bottom: 0;
}
form.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
label.signup {
    font-size: 2em;
    margin-top: 1em;
}
input.signup {
    text-align: center;
    width: 400px;
    height: 40px;
    font-size: 20px;
    margin-top: 2em;
    color: #CC5500;
    background-color: black;
    box-shadow: none;
}
#submit {
    width: 200px;
    height: 50px;
    border-radius: .25em;
    font-size: 1.3em;
    margin-top: 2em;
}